# deps
node_modules/

# build outputs
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Android/Gradle
android/.gradle/
android/**/build/
android/captures/
android/local.properties

# IDE
.idea/
.vscode/
*.iml

# Android signing / keys
*.jks
*.keystore
*.p12
key.properties

# Capacitor / Android misc
android/.idea/
android/*.iml

